<a href="https://colab.research.google.com/github/Glodintec23/DS-ML/blob/main/Copy_of_glodin_Copy_CO1_Programs_to_handle_data_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a python program to implement List-to-Series Conversion
import pandas as pd
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#2. Write a python program to Generate the series of dates from 1st September, 2023 to 25th September, 2023 (both inclusive).

from datetime import datetime, timedelta
start_date = datetime(2023, 9, 1)
end_date = datetime(2023, 9, 25)
current_date = start_date
date_series = []

while current_date <= end_date:
    date_series.append(current_date.strftime('%Y-%m-%d'))
    current_date += timedelta(days=1)
for date in date_series:
    print(date)

2023-09-01
2023-09-02
2023-09-03
2023-09-04
2023-09-05
2023-09-06
2023-09-07
2023-09-08
2023-09-09
2023-09-10
2023-09-11
2023-09-12
2023-09-13
2023-09-14
2023-09-15
2023-09-16
2023-09-17
2023-09-18
2023-09-19
2023-09-20
2023-09-21
2023-09-22
2023-09-23
2023-09-24
2023-09-25

In [ ]:
"""
3. Given a dictionary, convert it into corresponding dataframe and display it.

"""
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
"""
4. Given a dataframe, select first 2 rows and output them.

"""
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

first_two_rows = df.iloc[:2]

print(first_two_rows)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Doctor', 'Teacher'],
    'Salary': [60000, 80000, 70000, 85000, 55000]
}

df = pd.DataFrame(data)

average_salary_per_occupation = df.groupby('Occupation')['Salary'].mean().reset_index()

print(average_salary_per_occupation)

  Occupation   Salary
0     Doctor  82500.0
1   Engineer  65000.0
2    Teacher  55000.0